In [ ]:
# Создать новый столбец в таблице с
# пингвинами, который будет отвечать за
# показатель длины клюва пингвина.

# high - длинный(от 42)
# middle - средний(от 35 до 42)
# low - маленький(до 35)

In [4]:
import pandas as pd
import seaborn as sns

In [5]:
pn = sns.load_dataset("penguins")
pn.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
pn.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [32]:
pn.loc[pn['bill_length_mm'] < 35, 'bill_size'] = 'Small'
pn.loc[(pn['bill_length_mm'] > 34) & (pn['bill_length_mm'] < 42), 'bill_size'] = 'Medium'
pn.loc[pn['bill_length_mm'] > 41, 'bill_size'] = 'Big'

In [40]:
pn.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'bill_size'],
      dtype='object')

In [37]:
pn[pn['bill_size'] == 'Small']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_size
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female,Small
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female,Small
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female,Small
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female,Small

In [38]:
pn[pn['bill_size'] == 'Medium']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_size
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,Medium
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,Medium
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,Medium
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,Medium
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,Medium
...,...,...,...,...,...,...,...,...
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female,Medium
149,Adelie,Dream,37.8,18.1,193.0,3750.0,Male,Medium
150,Adelie,Dream,36.0,17.1,187.0,3700.0,Female,Medium
182,Chinstrap,Dream,40.9,16.6,187.0,3200.0,Female,Medium
230,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,Female,Medium

In [39]:
pn[pn['bill_size'] == 'Big']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_size
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,Big
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female,Big
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male,Big
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male,Big
37,Adelie,Dream,42.2,18.5,180.0,3550.0,Female,Big
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,Big
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,Big
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,Big
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,Big
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,Big